<!DOCTYPE html>
<html>
<head>
	<title>ORDER_FOOD</title>
	<meta charset="utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--Googlefont-->
   <link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet">
     <!--font-awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
     
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 
    <link rel="stylesheet" href="/styles.css">

    <style>
     .checked {
        color: orange;
      }

      blink {
        animation: blinker 0.9s linear infinite;
        color: red;
        font-family: Courier New;
        
        }
       @keyframes blinker 
        {  
        50% { opacity: 0; }
        }
</style>
</head>
<body>







<section>
 
    <div class='sidebar'>      
     
              
                  <a href="#" style='color:white;' onclick='deleteUser()'>Delete User</a>
                
                
                  <a href="#" style='color:white;' onclick='bookedItems()'>Booked Items</a>
               
                  <a  href="#" style='color:white;' onclick='showsuppliers()'>Suppliers</a>
               
                  <a  href="#" style='color:white;' onclick='users()'>Users</a>
              
                  <a  href="#" style='color:white;' onclick='addSuppliers()'>Add Suppliers</a>

                  <a  href="#" style='color:white;' onclick='removeSuppliers()'>Remove Suppliers</a>
               
                  <a  href="#" style='color:white;' onclick='processItem()'>Processed Item</a>

                  <a  href="#" style='color:white;' onclick='sendId()'>Send id</a>
                
      
        <nav class="navbar navbar-expand-lg navbar-light" style='padding: 0.3% 5%'>
            <div class="collapse navbar-collapse" id="navbarText">
             <% if(ses.length==6){%>
                  <span class="navbar-text">
                   <div class="dropdown dropright">
                       <i class="fa fa-user  "  data-toggle="dropdown" style='font-size:48px;color:white;border:1px solid white;border-radius: 50%;padding:9px 9px;'></i>
                       <div class="dropdown-menu" style='text-align: center'>
                        <a class="dropdown-item" href="#"><%=yourname%></a>
                        <a class="dropdown-item" href="#">Order_History</a>
                        <a class="dropdown-item" href="#">Preferences</a>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                  </div>
                  </span>

              <%} else {%>

              <%}%>
            </div>
        </nav>
    </div>

     

    <div class="content">
       <div class="container">    

        <!--head-->
              <div style="text-align: center;font-size: 30px;font-weight: bold;font-family: Courier New;margin-top:40px;">
                 Welcome to  Admin pannel
              </div><hr>
         <!--head-->
      <!--add suppliers start  sssssssssssssssssssssssssssssssssssssssssssssssssssssssssss-->

          <div id="addsuppliers" style="margin-top:40px">
             <div class='add-suplliers-head'>ADD SUPPLIERS</div><hr width="60%" color="black">
             <form class='form-signin' action='/addsupplier' method='post' style="margin-top:40px">
                 <div class="input-container">
                    <i class="fa fa-user icon"></i>
                    <input id="fullname2" type="text" name="fullname2" style="width:80%;outline:none;" class="input-field" placeholder="Enter Full Name of supplier" required autofocus>
                    </br>
                  </div></br> 

                  <div class="input-container">
                    <i class="fa fa-envelope icon"></i>
                    <input id="email2" type="email" name="email2" style="width:80%;outline:none;" class="input-field" placeholder="Enter email of supplier" required autofocus>
                    </br>
                  </div></br>
                   
                   <div class="input-container">
                      <input type='hidden' name='location2' value="<%=location%>" id='location2'>
                    </div>
                  <div class="input-container">
                    <i class="fa fa-address-book icon"></i>
                    <input id="address2" type="text" name="address2" style="width:80%;outline:none;" class="input-field" placeholder="Enter full address of supplier" required autofocus>
                    </br>
                  </div></br>

                  <div class="input-container">
                    <i class="fa fa-phone icon"></i>
                    <input id="contact2" type="number" name="contact2" style="width:80%;outline:none;" class="input-field" placeholder="Enter contacts of supplier" required autofocus>
                    </br>
                  </div></br>

                  <div class="input-container">
                    <i class="fa fa-key icon"></i>
                    <input id="password2" type="password" name="password2" style="width:80%;outline:none;" class="input-field" placeholder="Set password of supplier" required autofocus>
                    </br>
                  </div></br>

                  <div style='margin-left: 50px;'>
                      <button  class="btn  btn-primary " type="submit" name="button" value="register"  id="submit11" style="padding:10px 50px">Add Supplier</button>

                       <input type="reset" value="Reset" style="background-color:blue;margin-left: 30px;padding: 10px 50px" class="btn btn-success "> 
                  </div>

             </form>

          </div>
      <!--add supplier ends sssssssssssssssssssssssssssssssssssssssssssssssssssssssss-->
       <!--booked item starts sssssssssssssssssssssssssssssssssssssssssssssssssssssssss-->
           <div id='bookeditems'>
               <div class="table-responsive">   
                  <table id="dtHorizontalVerticalExample" class="table_wrapper  table-hover table">
                    <div class='add-suplliers-head' >Booked Items</div><hr width="60%" color="black">
                     <div  class="row">

                     
                         
                     
                    
                           
                      <thead style="background-color: lightblue;" >
                                 <tr>
                                  
                                  <th scope="col">Name</th>
                                  <th scope="col">Contact</th>
                                  <th scope="col">Address</th>
                                  <th scope="col">quantity</th>
                                  <th scope="col">modeOF_Payment</th>
                                  <th scope="col">city</th>
                                   <th scope="col">Resturant Name</th>
                                   <th scope="col">Cost</th>
                                  <th scope="col">Item Name</th>
                                  <th scope="col">Email</th>
                                  <th scope="col">Total Bill</th>
                                   <th scope="col">Order Time</th>
                                   <th scope="col">payment_id</th>
                                   <th scope="col">payment_status</th>
                                    <th scope="col">ItemID</th>
                               </tr>
                     </thead>
                           <% for(var i=0;i<foundlist1.length;i++){ %>
                                   <tbody id="myTable">
                                       <tr>
                                         
                                         <td><%=foundlist1[i].fullname %></td>
                                         <td><%=foundlist1[i].contact %></td>
                                         <td><%=foundlist1[i].address %></td>
                                         <td><%=foundlist1[i].quantity %></td>
                                        <td><%=foundlist1[i].mode %></td>
                                        <td><%=foundlist1[i].city %></td>
                                        <td><%=foundlist1[i].rest_Name %></td>
                                         <td><%=foundlist1[i].cost %></td>
                                        <td><%=foundlist1[i].item_Name %></td>
                                        <td><%=foundlist1[i].email %></td>
                                        <td><%=foundlist1[i].totalpayment %></td>
                                        <td><%=foundlist1[i].Ordertime %></td>
                                        <td><%=foundlist1[i].payment_id %></td>
                                        <td><%=foundlist1[i].payment_status %></td>
                                         <td><%=foundlist1[i].id %></td>
                                      </tr>
    
   
                            <%} %>
                                 </tbody>
                  </table>
                </div>
           </div>
      <!--booked item ends sssssssssssssssssssssssssssssssssssssssssssssssssssssssss-->

      <!--delete user starts sssssssssssssssssssssssssssssssssssssssssssssssssssssssss-->
              <div id='deleteuser'>
                <div class='remove-user-head'>Remove User</div>
                  <form class='form-signin'>
                     <div class="input-container">
                       <i class="fa fa-key icon"></i>
                        <input id="id1" type="text" name="id1" style="width:80%;outline:none;" class="input-field" placeholder="Enter the id of user" required autofocus>
                       </br>
                      </div></br>

                      <div style='margin-left: 50px;'>
                        <center><button style="background-color:green;" class="btn  btn-primary " type="submit" name="button" value="register"  id="submit15" onclick="deleteUserbyid()">Remove User</button></center>
                     </div>
                </form>
              </div>

      <!--delete user starts sssssssssssssssssssssssssssssssssssssssssssssssssssssssss-->

      <!--delete supplier starts ssssssssssssssssssssssssssssssssssssssssssssssssssssssssss-->
               <div id='deletesupplier'>
                <div class='remove-user-head'>Remove Supplier</div>
                  <form class='form-signin'>
                     <div class="input-container">
                       <i class="fa fa-key icon"></i>
                        <input id="id2" type="text" name="id2" style="width:80%;outline:none;" class="input-field" placeholder="Enter the id of supplier" required autofocus>
                       </br>
                      </div></br>
                      <input type='hidden' name='locationsup' id='locationsup' value='<%=location%>'>
                      <div style='margin-left: 50px;'>
                        <center><button style="background-color:green;" class="btn  btn-primary " type="submit" name="button" value="register"  id="submit12" onclick="deleteSupplier()">Remove Supplier</button></center>
                     </div>
                </form>
              </div>
       <!--delete supplier ends ssssssssssssssssssssssssssssssssssssssssssssssssssssssssss-->

       <!--list of user starts ssssssssssssssssssssssssssssssssssssssssssssssssssssssssss-->
            <div id='userlist'>
               <div class="table-responsive">   
                  <table id="dtHorizontalVerticalExample" class="table_wrapper  table-hover table">
                    <div class='add-suplliers-head' >List Of Users</div><hr width="60%" color="black">

                     <div  class="row">
                       
                     
                         
                     
                      </div>
                           
                      <thead style="background-color: lightgreen;" >
                                 <tr>
                                  <th scope="col">id</th>
                                  <th scope="col">Name</th>
                                  <th scope="col">Contact</th>
                                  <th scope="col">Email</th>
                                  <th scope="col">Address</th>
                                  <th scope="col">Password</th>
                                  <th scope="col">Rand</th>
                                  
                               </tr>
                     </thead>
                           <% for(var i=0;i<foundlist2.length;i++){ %>
                                   <tbody id="myTable">
                                       <tr>
                                         <td><%=foundlist2[i].id %></td>
                                         <td><%=foundlist2[i].fullname %></td>
                                         <td><%=foundlist2[i].contact %></td>
                                         <td><%=foundlist2[i].email %></td>
                                         <td><%=foundlist2[i].address %></td>
                                        <td><%=foundlist2[i].password %></td>
                                        <td><%=foundlist2[i].rand %></td>
                                       </tr>
    
   
                            <%} %>
                                 </tbody>
                  </table>
                </div>
           </div>

       <!--list of user ends sssssssssssssssssssssssssssssssssssssssssssssssssssssssssss-->
       <!--list of supplier starts ssssssssssssssssssssssssssssssssssssssssssssssssss-->
             <div id='supplierlist'>
                <div class="table-responsive">   
                  <table id="dtHorizontalVerticalExample" class="table_wrapper  table-hover table">\
                     <div class='add-suplliers-head' >List Of Suppliers</div><hr width="60%" color="black">
                     <div  class="row">
                       
                      <div class="col-lg-8">
                         <input class="form-control" id="myInput" type="text" placeholder="Search..">
                     </div>
                      </div>
                           
                      <thead style="background-color: lightgreen;" >
                                 <tr>
                                  <th scope="col">id</th>
                                  <th scope="col">Name</th>
                                  <th scope="col">Contact</th>
                                  <th scope="col">Email</th>
                                  <th scope="col">Address</th>
                                  <th scope="col">Password</th>
                                  <th scope="col">city</th>
                                  
                               </tr>
                     </thead>
                           <% for(var i=0;i<foundlist3.length;i++){ %>
                                   <tbody id="myTable">
                                       <tr>
                                         <td><%=foundlist3[i].id %></td>
                                         <td><%=foundlist3[i].fullname %></td>
                                         <td><%=foundlist3[i].contact %></td>
                                         <td><%=foundlist3[i].email %></td>
                                         <td><%=foundlist3[i].fulladdress %></td>
                                        <td><%=foundlist3[i].password %></td>
                                        <td><%=foundlist3[i].city %></td>
                                       </tr>
    
   
                            <%} %>
                                 </tbody>
                  </table>
                </div>
             </div>

       <!--lisst of supplier ends ssssssssssssssssssssssssssssssssssssssssssssssssssss-->

       <!--processed item starts sssssssssssssssssssssssssssssssssssssssssssssssssssssss-->
                <div id='processeditem'>
                    <div class="table-responsive">   
                  <table id="dtHorizontalVerticalExample" class="table_wrapper  table-hover table">
                     <div class='add-suplliers-head' >Processed Items</div><hr width="60%" color="black">
                     <div  class="row">
                       
                      <div class="col-lg-8">
                         <input class="form-control" id="myInput" type="text" placeholder="Search..">
                     </div>
                      </div>
                           
                      <thead style="background-color: lightgreen;" >
                                 <tr>
                                  <th scope="col">Item id</th>
                                  <th scope="col">Rest_Name</th>
                                  <th scope="col">check in time</th>
                                  <th scope="col">check out time</th>
                                  <th scope="col">hotel bill id</th>
                                  <th scope="col">Date</th>
                                  <th scope="col">city</th>
                                  
                               </tr>
                     </thead>
                           <% for(var i=0;i<foundlist4.length;i++){ %>
                                   <tbody id="myTable">
                                       <tr>
                                         <td><%=foundlist4[i].Itemid %></td>
                                         <td><%=foundlist4[i].rest_name %></td>
                                         <td><%=foundlist4[i].checkintime %></td>
                                         <td><%=foundlist4[i].checkoutime %></td>
                                         <td><%=foundlist4[i].hotelbillid %></td>
                                        <td><%=foundlist4[i].Date %></td>
                                        <td><%=foundlist4[i].city %></td>
                                       </tr>
    
   
                            <%} %>
                                 </tbody>
                  </table>
                </div>
                </div>

       <!--processed item endsssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss-->

       <!--send id starrts ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss-->
              <div id='sendid' style="margin-top:70px">
                  <div class="input-container ">
                    <button class="name" onclick="textBoxCreate()">add new item</button>
                  </div>
                 <form class='form-signin' action='/sendid' method='post'>
                    <div class="input-container">
                      <i class="fa fa-envelope icon"></i>
                       <input id="idx" type="text" name="idx" style="width:80%;outline:none;" class="input-field" placeholder="Enter id of supplier" required autofocus>
                    </br>
                  </div></br>

                    <div class="row ">
                         <div class="col-lg-10" id="generate">
                         </div>
                         
                    </div></br></br>
                     <input type='hidden' name='loc' value="<%=location%>">
                     <div class="row  input-container">
                     <input type="submit" value="send_ID" class="btn btn-danger" style="border-radius:0px;padding:10px 20px;">
                     <input type="reset" value="Reset" class="btn btn-success" style="border-radius:0px;padding:10px 20px;">
                   </div>

                 </form>
             </div>
       <!--send  id endss ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss-->
     </div>

      </div>
   
</section>


<script>

  function textBoxCreate(){

//document.getElementById("form1").appendChild(r);

//var y = document.createElement("INPUT");
var z = document.createElement("INPUT");
//y.setAttribute("type", "text");
//y.setAttribute("class", "form-control");
//y.setAttribute("Placeholder", "Name_" + i);
//y.setAttribute("Name", "Name_" + i);
//y.setAttribute("required", "");

z.setAttribute("type", "text");
z.setAttribute("class", "input-container");
z.setAttribute("Placeholder", "enter item id");
z.setAttribute("Name", "itemsid" );
z.setAttribute("id", "itemsid" );
z.setAttribute("required", "");
//document.getElementById("generate").appendChild(select);
document.getElementById("generate").appendChild(z);

var mybr = document.createElement('br');
document.getElementById("generate").appendChild(mybr);
}
/*
=================
Creating Text Box for email field in the Form.
=================
*/




   document.getElementById("addsuppliers").style.display='none';
   document.getElementById("bookeditems").style.display='none';
   document.getElementById("deleteuser").style.display='none';
   document.getElementById("deletesupplier").style.display='none';
    document.getElementById("userlist").style.display='none';
    document.getElementById("supplierlist").style.display='none';
    document.getElementById("processeditem").style.display='none';

    function deleteUser()
    {
       document.getElementById("addsuppliers").style.display='none';
       document.getElementById("bookeditems").style.display='none';
       document.getElementById("deleteuser").style.display='block';
       document.getElementById("deletesupplier").style.display='none';
       document.getElementById("userlist").style.display='none';
       document.getElementById("supplierlist").style.display='none';
       document.getElementById("processeditem").style.display='none';
    }

    function bookedItems()
    {
       document.getElementById("addsuppliers").style.display='none';
       document.getElementById("bookeditems").style.display='block';
       document.getElementById("deleteuser").style.display='none';
       document.getElementById("deletesupplier").style.display='none';
       document.getElementById("userlist").style.display='none';
       document.getElementById("supplierlist").style.display='none';
       document.getElementById("processeditem").style.display='none';
    }

    function suppliers()
    {

    }


    function users()
    {
       document.getElementById("addsuppliers").style.display='none';
       document.getElementById("bookeditems").style.display='none';
       document.getElementById("deleteuser").style.display='none';
       document.getElementById("deletesupplier").style.display='none';
       document.getElementById("userlist").style.display='block';
       document.getElementById("supplierlist").style.display='none';
       document.getElementById("processeditem").style.display='none';
    }


    function addSuppliers()
    {
       document.getElementById("addsuppliers").style.display='block';
       document.getElementById("bookeditems").style.display='none';
       document.getElementById("deleteuser").style.display='none';
       document.getElementById("deletesupplier").style.display='none';
       document.getElementById("userlist").style.display='none';
       document.getElementById("supplierlist").style.display='none';
       document.getElementById("processeditem").style.display='none';
    }

    function removeSuppliers()
    {
        document.getElementById("addsuppliers").style.display='none';
       document.getElementById("bookeditems").style.display='none';
       document.getElementById("deleteuser").style.display='none';
       document.getElementById("deletesupplier").style.display='block';
       document.getElementById("userlist").style.display='none';
       document.getElementById("supplierlist").style.display='none';
       document.getElementById("processeditem").style.display='none';
    }

    function showsuppliers()
    {
      document.getElementById("addsuppliers").style.display='none';
      document.getElementById("bookeditems").style.display='none';
      document.getElementById("deleteuser").style.display='none';
      document.getElementById("deletesupplier").style.display='none';
      document.getElementById("userlist").style.display='none';
      document.getElementById("supplierlist").style.display='block';
      document.getElementById("processeditem").style.display='none';
    }
    
    function processItem()
    {
       document.getElementById("addsuppliers").style.display='none';
      document.getElementById("bookeditems").style.display='none';
      document.getElementById("deleteuser").style.display='none';
      document.getElementById("deletesupplier").style.display='none';
      document.getElementById("userlist").style.display='none';
      document.getElementById("supplierlist").style.display='none';
      document.getElementById("processeditem").style.display='block';
    }

    function adddnewSupplier()
    {
       fullname2=$("#fullname2").val();
       contact2=$("#contact2").val();
       password2=$("#password2").val();
       address2=$("address2").val();
       email2=$("#email2").val();
       location2=$("#location2").val();
        if(contact2.length<10 ||contact2.length>10)
        {
          alert(' what contact must contain only 10 digits');
          return false;
        }

        $.post('/addSupplier,',{fullname2:fullname2,contact2:contact2,password2:password2,address2:address2,email2:email2,location2:location2},function(data){
         
            if(data==='success')
            {
               window.location.href='/success';
            }
            else if(data==='wrong')
            {
              alert('some error has occured');
              return false;
            }
        })
    }


    function deleteUserbyid()
    {
       id1=$("#id1").val();
       locationsup=$("#locationsup").val();
       $.post('/deleteUser',{id1:id1,locationsup:locationsup},function(data){
        if(data==='done')
        {
           window.location.href='/success';
        }
        if(data==='sorry')
        {
          alert('invalid id');
        }

       })
    }


    function deleteSupplier()
    {
       id2=$("#id2").val();
       $.post('/deleteSupplier',{id2:id2},function(data){
        if(data==='done')
        {
           window.location.href='/success';
        }
        if(data==='sorry')
        {
          alert('invalid id');
        }

       })
    }

   
</script>
</body>
</html>
    